{% extends "main.html" %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>404</h1>
    <ol class="breadcrumb">
        <li><a href="/home" class="ajax"><i class="fa fa-dashboard"></i> Главная</a></li>
        <li class="active"> 404</li>
    </ol>
</section>
<!-- ./Content Header (Page header) -->

<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-md-12">
	<div class="alert alert-info">
	    Запрашиваемая страница не существует !!!
	</div>
    </div>
</div><!-- /.row -->
</section><!-- ./content -->

<!--
<script>
    $(".content-wrapper").css("background-color", "#FFF");
</script>
-->

{% endblock %}
