<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<style type="text/css">
body { background: #ffffff; margin: 0; font-family: Arial; font-size: 10pt; font-style: normal; }
tr.R0{ height: 15px; }
tr.R0 td.R3C7{ border-left: #000000 1px solid; border-bottom: #000000 1px solid; }
tr.R0 td.R3C8{ border-bottom: #000000 1px solid; }
tr.R0 td.R5C7{ font-family: Arial; font-size: 12pt; font-style: normal; text-align: left; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R0 td.R7C7{ font-family: Arial; font-size: 10pt; font-style: normal; text-align: left; vertical-align: medium; border-left: #000000 1px solid; border-top: #ffffff 0px none; border-bottom: #000000 1px solid; }
tr.R0 td.R9C1{ font-family: Arial; font-size: 16pt; font-style: normal; font-weight: bold; vertical-align: medium; }
tr.R1{ height: 17px; }
tr.R1 td.R19C1{ font-family: Arial; font-size: 12pt; font-style: normal; vertical-align: top; }
tr.R1 td.R19C5{ font-family: Arial; font-size: 12pt; font-style: normal; font-weight: bold; vertical-align: top; }
tr.R1 td.R1C22{ font-family: Arial; font-size: 12pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R1 td.R1C24{ font-family: Arial; font-size: 12pt; font-style: normal; text-align: left; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #ffffff 0px none; border-right: #000000 1px solid; }
tr.R1 td.R1C7{ font-family: Arial; font-size: 12pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R1 td.R21C1{ font-family: Arial; font-size: 12pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 2px solid; border-top: #000000 2px solid; }
tr.R1 td.R21C2{ font-family: Arial; font-size: 12pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 2px solid; }
tr.R1 td.R21C6{ font-family: Arial; font-size: 12pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 2px solid; border-right: #000000 2px solid; }
tr.R1 td.R24C6{ font-family: Arial; font-size: 12pt; font-style: normal; font-weight: bold; text-align: right; vertical-align: top; }
tr.R1 td.R27C1{ font-family: Arial; font-size: 12pt; font-style: normal; }
tr.R1 td.R4C22{ font-family: Arial; font-size: 12pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R1 td.R4C24{ font-family: Arial; font-size: 12pt; font-style: normal; text-align: left; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R1 td.R4C7{ font-family: Arial; font-size: 12pt; font-style: normal; text-align: left; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R1 td.R4C9{ font-family: Arial; font-size: 12pt; font-style: normal; text-align: left; vertical-align: medium; border-top: #000000 1px solid; }
tr.R11{ height: 9px; }
tr.R11 td.R11C1{ border-bottom: #000000 2px solid; }
tr.R11 td.R23C1{ border-top: #000000 2px solid; }
tr.R13{ height: 34px; }
tr.R13 td.R13C1{ font-family: Arial; font-size: 12pt; font-style: normal; vertical-align: top; }
tr.R13 td.R13C5{ font-family: Arial; font-size: 12pt; font-style: normal; font-weight: bold; vertical-align: top; }
tr.R16{ height: 18px; }
tr.R16 td.R16C1{ font-family: Arial; font-size: 12pt; font-style: normal; vertical-align: top; }
tr.R16 td.R16C5{ font-family: Arial; font-size: 12pt; font-style: normal; font-weight: bold; vertical-align: top; }
tr.R2{ height: 16px; }
tr.R2 td.R2C22{ font-family: Arial; font-size: 12pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R2 td.R2C24{ font-family: Arial; font-size: 12pt; font-style: normal; text-align: left; vertical-align: top; border-left: #000000 1px solid; border-top: #ffffff 0px none; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
tr.R2 td.R30C1{ font-family: Arial; font-size: 12pt; font-style: normal; text-align: left; }
tr.R22{ height: 29px; }
tr.R22 td.R22C1{ text-align: center; vertical-align: top; overflow: hidden;border-left: #000000 2px solid; border-top: #000000 1px solid; }
tr.R22 td.R22C2{ text-align: left; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R22 td.R22C3{ text-align: right; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R22 td.R22C4{ text-align: left; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
tr.R22 td.R22C6{ text-align: right; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 2px solid; }
tr.R29{ height: 10px; }
tr.R29 td.R29C1{ font-family: Arial; font-size: 12pt; font-style: normal; }
tr.R33{ height: 31px; }
tr.R33 td.R33C1{ font-family: Arial; font-size: 12pt; font-style: normal; text-align: left; }
tr.R6{ height: 20px; }
table {table-layout: fixed; padding: 0px; padding-left: 2px; vertical-align:bottom; border-collapse:collapse;width: 100%; font-family: Arial; font-size: 8pt; font-style: normal; }
td { padding: 0px; padding-left: 2px; overflow:hidden; }
</style>
</head>
<body style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px; font-family: Arial; font-size: 8pt; font-style: normal; width: 834px;">
<table style="width:100%; height:0px; " cellspacing="0">
<colgroup><col width="7">
<col width="28">
<col width="28">
<col width="28">
<col width="26">
<col width="15">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="17">
<col width="16">
<col width="16">
<col width="17">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="23">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="12">
<col width="13">
</colgroup><tbody><tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R1">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td class="R1C7" colspan="15" rowspan="2"><div style="width:100%;height:48px;overflow:hidden;">ПАО "БАНК "САНКТ-ПЕТЕРБУРГ" Г. САНКТ-ПЕТЕРБУРГ</div></td>
<td class="R1C22" colspan="2"><span style="white-space:nowrap;max-width:0px;">БИК</span></td>
<td class="R1C24" colspan="9"><span style="white-space:nowrap;max-width:0px;">044030790</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R2">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td class="R2C22" colspan="2" rowspan="2"><div style="width:100%;height:30px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">Сч.&nbsp;№</span></div></td>
<td class="R2C24" colspan="9" rowspan="2"><div style="width:100%;height:30px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">30101810900000000790</span></div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td class="R3C7" colspan="15"><span style="white-space:nowrap;max-width:0px;">Банк&nbsp;получателя</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R1">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td class="R4C7" colspan="2"><span style="white-space:nowrap;max-width:0px;">ИНН</span></td>
<td class="R4C9" colspan="6"><span style="white-space:nowrap;max-width:0px;">7802728245</span></td>
<td class="R4C7" colspan="2"><span style="white-space:nowrap;max-width:0px;">КПП	</span></td>
<td class="R4C9" colspan="5"><span style="white-space:nowrap;max-width:0px;">780201001</span></td>
<td class="R4C22" colspan="2" rowspan="4"><div style="width:100%;height:66px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">Сч.&nbsp;№</span></div></td>
<td class="R4C24" colspan="9" rowspan="4"><div style="width:100%;height:66px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">40702810120000001154</span></div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td class="R5C7" colspan="15" rowspan="2"><div style="width:100%;height:34px;overflow:hidden;">ООО "ПудЛинк"</div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R6">
<td><div style="position:relative; height:20px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:20px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:20px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:20px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:20px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:20px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:20px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:20px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:20px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td class="R7C7" colspan="15"><span style="white-space:nowrap;max-width:0px;">Получатель</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td class="R9C1" colspan="32" rowspan="2"><div style="width:100%;height:29px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">Счет&nbsp;на&nbsp;оплату&nbsp;№&nbsp;{{ c_numInvoice }}&nbsp;от&nbsp;{{ c_dateInvoice }}&nbsp;г.</span></div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R11">
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1" colspan="32"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R11">
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R13">
<td><span></span></td>
<td class="R13C1" colspan="4" rowspan="2"><div style="width:100%;height:58px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">Поставщик<br>(Исполнитель):</span></div></td>
<td class="R13C5" colspan="28" rowspan="2"><div style="width:100%;height:58px;overflow:hidden;">ООО
 "ПудЛинк", ИНН 7802728245, КПП 780201001, 194100, Санкт-Петербург г, 
Сампсониевский Б. пр-кт, дом № 77/7, корпус Лит. А, квартира Помещение 
239, тел.: (812) 670-88-00, бухгалтерия (911) 823-35-76, тех.поддержка 
(812) 670-88-48</div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R0">
<td><div style="position:relative; height:15px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:15px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:15px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R11">
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R16">
<td><span></span></td>
<td class="R16C1" colspan="4" rowspan="2"><div style="width:100%;height:48px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">Покупатель<br>(Заказчик):</span></div></td>
<td class="R16C5" colspan="28" rowspan="2"><div style="width:100%;height:48px;overflow:hidden;">{{ c_comment }}</div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R0">
<td><div style="position:relative; height:15px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:15px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:15px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R11">
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R1">
<td><span></span></td>
<td class="R19C1" colspan="4"><span style="white-space:nowrap;max-width:0px;">Основание:</span></td>
<td class="R19C5" colspan="28">Договор №{{c_title }} от {{c_dateCreated}}</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
</tbody></table>
<table style="width:100%; height:0px; " cellspacing="0">
<colgroup><col width="7">
<col width="32">
<col width="328">
<col width="54">
<col width="42">
<col width="87">
<col width="99">
<col width="13">
</colgroup><tbody><tr class="R1">
<td><span></span></td>
<td class="R21C1"><span style="white-space:nowrap;max-width:0px;">№</span></td>
<td class="R21C2"><span style="white-space:nowrap;max-width:0px;">Товары&nbsp;(работы,&nbsp;услуги)</span></td>
<td class="R21C2"><span style="white-space:nowrap;max-width:0px;">Кол-во</span></td>
<td class="R21C2"><span style="white-space:nowrap;max-width:0px;">Ед.</span></td>
<td class="R21C2"><span style="white-space:nowrap;max-width:0px;">Цена</span></td>
<td class="R21C6"><span style="white-space:nowrap;max-width:0px;">Сумма</span></td>
<td><span></span></td>
</tr>
<tr class="R22">
<td><span></span></td>
<td class="R22C1"><span style="white-space:nowrap;max-width:0px;">1</span></td>
<td class="R22C2">Зачисление денежных средств на лицевой счет</td>
<td class="R22C3"><span></span></td>
<td class="R22C4"><span></span></td>
<td class="R22C3"><span style="white-space:nowrap;max-width:0px;">{{ c_summa }}</span></td>
<td class="R22C6"><span style="white-space:nowrap;max-width:0px;">{{ c_summa }}</span></td>
<td><span></span></td>

</tr>
</tbody></table>
<table style="width:100%; height:0px; " cellspacing="0">
<colgroup>
<col width="7">
<col width="32">
<col width="328">
<col width="54">
<col width="42">
<col width="87">
<col width="99">
<col width="13">
</colgroup><tbody><tr class="R11">
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R23C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R23C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R23C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R23C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R23C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R23C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>

<td></td>
</tr>

<tr class="R1">
<td colspan="6" class="R24C6"><span style="white-space:nowrap;max-width:0px;">Итого:</span></td>
<td class="R24C6"><span style="white-space:nowrap;max-width:0px;">{{ c_summa }}</span></td>



</tr>
<tr class="R1">
<td colspan="6" class="R24C6"><span style="white-space:nowrap;max-width:0px;">В&nbsp;том&nbsp;числе&nbsp;НДС:</span></td>
<td class="R24C6"><span style="white-space:nowrap;max-width:0px;">{{ c_summaNDS }}</span></td>



</tr>
<tr class="R1">
<td colspan="6" class="R24C6"><span style="white-space:nowrap;max-width:0px;">Всего&nbsp;к&nbsp;оплате:</span></td>
<td class="R24C6"><span style="white-space:nowrap;max-width:0px;">{{ c_summa }}</span></td>



</tr>
</tbody></table>
<table style="width:100%; height:0px; " cellspacing="0">
<colgroup><col width="7">
<col width="28">
<col width="28">
<col width="28">
<col width="26">
<col width="15">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="17">
<col width="16">
<col width="16">
<col width="17">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="23">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="28">
<col width="12">
<col width="13">
</colgroup><tbody><tr class="R1">
<td><span></span></td>
<td class="R27C1" colspan="32"><span style="white-space:nowrap;max-width:0px;">Всего&nbsp;наименований&nbsp;1,&nbsp;на&nbsp;сумму&nbsp;{{ c_summa }}&nbsp;руб.</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R1">
<td><span></span></td>
<td class="R19C5" colspan="31">{{ c_summaTXT  }}</td>
<td><span></span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R29">
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R29C1"><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:10px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R2">
<td><span></span></td>
<td class="R30C1" colspan="32">Внимание!</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R2">
<td><span></span></td>
<td class="R30C1" colspan="32">Оплата данного счета означает согласие с условиями поставки товара.</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R2">
<td><span></span></td>
<td class="R30C1" colspan="32">Уведомление об оплате обязательно, в противном случае не гарантируется наличие товара на складе.</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R33">
<td><span></span></td>
<td class="R33C1" colspan="32">Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.</td>
<td><span></span></td>
<td></td>
</tr>
<tr class="R11">
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="R11C1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class="R0">
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
</tbody></table>
<div style="position:absolute;left:8px; top:16px;"><img src="/opt/lkbilling/templates/invoice/invoice.files/image001.png" alt="" height="86" width="146"></div>
<div style="position:absolute;left:11px; top:610px;"><img src="/opt/lkbilling/templates/invoice/invoice.files/image003.png" alt="" height="164" width="674"></div>

</body></html>