<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">НАВИГАЦИЯ</li>

	<!-- begin Главная -->
	<li class="treeview">
          <a href="/home" class="ajax">
            <i class="fa fa-home"></i> <span>Главная</span>
	  </a>
	</li>
	<!-- end Главная -->

	<!-- begin Управление услугами -->
        <li class="treeview">
          <a href="#" class="ajax">
            <i class="fa fa-gears"></i> <span>Управление услугами</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li><a href="/virt" class="ajax">
		<i class="fa fa-phone"></i>
		<span> vpsManager</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

	    <li><a href="#" class="ajax">
		<i class="fa fa-globe"></i>
		<span> Интернет</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

	    <li><a href="dc.php" class="ajax">
		<i class="fa fa-server"></i>
		<span> Дата-центр</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue">12</span>
        	</span>
	    </a></li>

	    <li><a href="#" class="ajax">
		<i class="fa fa-cloud"></i>
		<span> Объединение офисов</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

	    <li><a href="#" class="ajax">
		<i class="fa fa-cubes"></i>
		<span> Создание сайтов</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

	    <li><a href="#" class="ajax">
		<i class="fa fa-laptop"></i>
		<span> Администрирование</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-red">1</span>
        	</span>
	    </a></li>

	    <li><a href="#" class="ajax">
		<i class="fa fa-cloud-upload"></i>
		<span> Резервное копир.</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue">4</span>
        	</span>
	    </a></li>
          </ul>
        </li>
	<!-- end Управление услугами -->


	<!-- begin Управление счетами -->
        <li class="treeview">
          <a href="#" class="ajax">
            <i class="fa fa-ruble"></i> <span>Оплата и финансы</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li><a href="#proceedPaymant" data-toggle="modal">
		<i class="fa fa-circle"></i>
		<span> Пополнить счет</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

            <li><a href="/bill/detail" class="ajax">
		<i class="fa fa-circle"></i>
		<span> Детализация</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

            <li><a href="#" class="ajax">
		<i class="fa fa-circle"></i>
		<span> Обещанный платеж</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

            <li><a href="#" class="ajax">
		<i class="fa fa-circle"></i>
		<span> Бух. документы</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

          </ul>
        </li>
	<!-- end Управление счетами -->


	<!-- begin Программа лояльности -->
        <li class="treeview">
          <a href="#" class="ajax">
            <i class="fa fa-thumbs-up"></i> <span>Программа лояльности</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li><a href="#" class="ajax">
		<i class="fa fa-circle"></i>
		<span> Накопительные бонусы</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

            <li><a href="#" class="ajax">
		<i class="fa fa-circle"></i>
		<span> Персональные бонусы</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>


          </ul>
        </li>
	<!-- end Программа лояльности -->


	<!-- begin Проддержка -->
        <li class="treeview">
          <a href="#" class="ajax">
            <i class="fa fa-support"></i> <span>Поддержка</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li><a href="#" class="ajax">
		<i class="fa fa-circle"></i>
		<span> Частые вопросы</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

            <li><a href="#" class="ajax">
		<i class="fa fa-circle"></i>
		<span> Обратиться в поддержку</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

            <li><a href="#" class="ajax">
		<i class="fa fa-circle"></i>
		<span> Мои обращения</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-red">1</span>
		    <span class="label pull-right bg-green">2</span>
        	</span>
	    </a></li>


          </ul>
        </li>
	<!-- /.Поддержка -->


	<!-- begin Управление аккаунтом -->
        <li class="treeview">
          <a href="/access/contractData/" class="ajax">
            <i class="fa fa-user"></i> <span>Управление аккаунтом</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li><a href="/access/contractData" class="ajax">
		<i class="fa fa-list"></i>
		<span> Данные</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

            <li><a href="/access/pswdChange" class="ajax">
		<i class="fa fa-refresh"></i>
		<span> Смена пароля</span>
        	<span class="pull-right-container">
            	    <span class="label pull-right bg-blue"></span>
        	</span>
	    </a></li>

          </ul>
        </li>
	<!-- /.Управление аккаунтом -->


      </ul>
    </section>
<!-- /.sidebar -->
</aside>
