<div class="left_col scroll-view">

  <div class="navbar nav_title" style="border: 0;">
    <a href="/home" class="site_title ajax"><i class="fa  fa-dashboard"></i> <span>Личный кабинет</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Меню</h3>
      <ul class="nav side-menu">

	<!-- begin Главная -->
	<li><a href="/home" class="ajax"><i class="fa fa-home"></i> Главная</a></li>
	<!-- end Главная -->

	<!-- begin Управление услугами -->
        <li>
	    <a href="#" class="ajax">
		<i class="fa fa-gears"></i> Управление услугами <span class="fa fa-chevron-down"></span>
	    </a>
	    <ul class="nav child_menu">
		<li><a href="#" class="ajax"> Интернет</a></li>
		<li><a href="/virt" class="ajax"> Виртуальные серверы</a></li>
		<li><a href="#" class="ajax"> Выделенные серверы</a></li>
	    </ul>
        </li>
        <!-- end Управление услугами -->

	<!-- begin Управление счетами -->
	<li>
	    <a href="#" class="ajax">
		<i class="fa fa-ruble"></i> Оплата и финансы <span class="fa fa-chevron-down"></span>
	    </a>
	    <ul class="nav child_menu">
		<li><a href="#proceedPaymant" data-toggle="modal"> Пополнить счет</a></li>
		<li><a href="/bill/detail" class="ajax"> Детализация</a></li>
		<li><a href="#" class="ajax"> Обещанный платеж</a></li>
		<li><a href="#" class="ajax"> Бух. документы</a></li>
	    </ul>
	</li>
	<!-- end Управление счетами -->

	<!-- begin Проддержка -->
	<li>
	    <a href="#" class="ajax">
		<i class="fa fa-support"></i> Поддержка <span class="fa fa-chevron-down"></span>
	    </a>
	    <ul class="nav child_menu">
		<li><a href="#" class="ajax"> Частые вопросы</a></li>
		<li><a href="#" class="ajax"> Обратиться в поддержку</a></li>
		<li><a href="#" class="ajax"> Мои обращения</a></li>		
	    </ul>
	</li>
	<!-- end Проддержка -->

	<!-- begin Управление аккаунтом -->
	<li>
	    <a href="#" class="ajax">
		<i class="fa fa-user"></i> Управление аккаунтом<span class="fa fa-chevron-down"></span>
	    </a>
	    <ul class="nav child_menu">
		<li><a href="/access/contractData" class="ajax"> Данные</a></li>
		<li><a href="/access/pswdChange" class="ajax"> Смена пароля</a></li>
	    </ul>
	</li>
	<!-- end Управление аккаунтом -->

      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>

</div>
          
